* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    min-height: 100vh;
    max-width: 100vw;
}

body{
    background: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'inter-bold';
    src: url(assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'inter-regular';
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-semibold';
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'inter-variablefont';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.container{
    width: 350px;
    height: 550px;
    background:  hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.container img{
    width: 100px;
    border-radius: 50%;
}

.container .top-section{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom: 30px;
}

.top-section h1{
     font-family: 'inter-semibold';
     font-size: 1.5rem;
     margin:30px 0px 5px 0px
}
.top-section h2{
  font-family: 'inter-regular';
  font-size: 0.9rem;
  color: hsl(75, 94%, 57%);
  margin-bottom: 30px
}

.top-section p{
    font-family: 'inter-bold';
    font-size: 1rem;
}

.bottom-section{
    color: hsl(0, 0%, 100%);
}

.bottom-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.bottom-section ul li{
    list-style: none;
     font-family: 'inter-bold';
    background:  hsl(0, 0%, 20%);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    line-height: 2.4;

}
